@{
    ViewData["Title"] = "Админ-панель";
}

<h2>Админ-панель</h2>

<a class="btn btn-sm btn-primary" asp-controller="Users" asp-action="Index">Управление пользователями</a>
<a class="btn btn-sm btn-primary" asp-controller="SectionManager" asp-action="Index">Управление разделами</a>
<a class="btn btn-sm btn-primary" asp-controller="TestsManager" asp-action="Index">Управление тестами</a>